
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Loss</title>
    <script>alert("請先登入")</script>
</head>
<body>
    <div>
    </div>
</body>
</html>