
<div>
    <main>

        <div class="page-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 py-2">
                        <div class="subhead"></div>
                        <h2 style="font-family:DFKai-sb; text-decoration:underline; margin-right:4px;">吃自己喜歡的東西，<br />變成自己喜歡的樣子！</h2>
                        <h2>
                            為自己做飯，
                            <br />　　就是照顧好自己。
                        </h2>

                    </div>
                    <div class="col-lg-7 py-6">
                        <div class="img-thumbnail">
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="~/img/mclean-1.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/img/bronzini-2.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/img/mukkath-3.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item ">
                                        <img src="~/img/pixabay-4.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/img/crew-5.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/img/boltneva-6.jpg" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .page-section -->




        <div class="page-section">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
                        <div class="text-center">
                            <div class="img-fluid mb-4">
                                <img src="~/img/icons/data_analyst.svg" alt="">
                            </div>
                            <h5>查看食譜</h5>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
                        <div class="text-center">
                            <div class="img-fluid mb-4">
                                <img src="~/img/icons/graphics_design.svg" alt="">
                            </div>
                            <h5>推薦菜餚 </h5>
                        </div>
                    </div>


                    <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
                        <div class="text-center">
                            <div class="img-fluid mb-4">
                                <img src="~/img/icons/customer_services.svg" alt="">
                            </div>
                            <h5>回饋文章</h5>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-xl-3 py-3 mb-3">
                        <div class="text-center">
                            <div class="img-fluid mb-4">
                                <img src="~/img/icons/app_development.svg" alt="">
                            </div>
                            <h5>收藏喜愛菜餚</h5>
                        </div>
                    </div>



                </div>
            </div> <!-- .container -->
        </div> <!-- .page-section -->


        <div class="row" style="margin-top:10px;">

            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/img/barts.jpg" style="width:200px;height:270px;">
                    <br />
                </div>
                <div class="body">
                    <div class="post-title"><a class="btn btn-outline-secondary " style="color:dimgrey">消暑計畫</a></div>
                    <div class="post-excerpt">在熱到讓人快融化的夏天裡，自己動手做夏日消暑聖品，不僅不用擔心衛生問題，更沒有添加物的負擔！.</div>
                </div>
                <div class="footer">
                    <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/img/leong.jpg" style="width:200px;height:270px;">
                </div>
                <div class="body">
                    <div class="post-title"><a class="btn btn-outline-secondary" style="color:dimgrey">異國料理</a></div>
                    <div class="post-excerpt">最期待的就是有個完整假期可以出國放鬆旅遊，如何在短時間內可以快速遨遊世界？</div>
                </div>
                <div class="footer">
                    <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/img/valeria.jpg" style="width:200px;height:270px;">
                </div>
                <div class="body">
                    <div class="post-title"><a class="btn btn-outline-secondary" style="color:dimgrey">中式料理</a></div>
                    <div class="post-excerpt">下班的爸爸帶著小孩的親子晚餐、全家人的溫馨團聚，而陪伴著他們的，是一道道開胃下飯、獨具特色的料理</div>
                </div>
                <div class="footer">
                    <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                </div>
            </div>


            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/img/polina.jpg" style="width:200px;height:270px;">
                </div>
                <div class="body">
                    <div class="post-title"><a class="btn btn-outline-secondary" style="color:dimgrey">健身料理</a></div>
                    <div class="post-excerpt">幫助減脂、增肌，低GI、高蛋白兩大飲食原則吃，就能吃得豐富又滿足！</div>
                </div>
                <div class="footer">
                    <a href="blog-single.html">Read More <span class="mai-chevron-forward text-sm"></span></a>
                </div>
            </div>
        </div>


        <div class="col-12 mt-3" style="text-align:right">
            <a href="#" type="submit" class="btn btn-light" style="color:dimgrey">TOP</a>
        </div>
    </main>
</div>

